[2015-07-18 00:40] mdridley opened #1 "Logged In As ???"
After logging in, name is not showing

(Mac, Alpha 13)

![image](https://cloud.githubusercontent.com/assets/1685242/8759535/9ed30a28-2cbb-11e5-8b03-fb56b2c278c0.png)

[2015-07-18 00:48] mdridley opened #2 "Request: Create New Folder Option"
When creating a new app, would be nice to see a "create new app folder" option/checkbox. Currently not clear if it will or not.

[2015-07-18 00:54] mdridley opened #3 "Old Plug-In References"
Seeing warnings in logs from old references to plug-ins:

![image](https://cloud.githubusercontent.com/assets/1685242/8759612/89a2709c-2cbd-11e5-8222-d4c8af39e207.png)

Also, on second app (deleted the first), The checked plug-ins disappear after losing focus. Did not remember that happening the first time. Was not sure if this was expected or not.

[2015-07-18 01:13] mdridley opened #4 "iOS Not Installed Error?"
Getting this message when I try to click on 'Emulate'. Not sure why?

![image](https://cloud.githubusercontent.com/assets/1685242/8759695/41e831b2-2cc0-11e5-834c-942bc4ece0ea.png)

[2015-07-18 14:04] cfjedimaster opened #5 "Server "in app""
I'd argue that while running server in the app itself looks neat, it is a mistake to encourage this. I used it on an app that had a bug and the first thing I thought was - let me open dev tools - and of course - I can't. I'd make the button do what ionic server normally does - open a new tab in my real browser.

[2015-07-18 14:05] cfjedimaster opened #6 "Logs too small to use"
This is how Logs render for me:

![image](https://cloud.githubusercontent.com/assets/393660/8761845/21afe734-2d2c-11e5-8e99-48f6fee4fff6.png)

I see no way to resize it and there is no way in heck I'm going to read it like that. :)

[2015-07-18 14:06] cfjedimaster commented on #6
Related - even using the Plugin view it is a bit tight.

[2015-07-18 14:08] cfjedimaster opened #7 "Error installing Android"
I tried to install Android on a project and got an error. It auto dismissed (which is a mistake, if I had looked away I would not have seen it!), and I see no way of figuring out _what_ went wrong. It may be in the logs, but as the logs are hard to read, I'm not sure.

[2015-07-18 14:11] cfjedimaster opened #8 "Creating is slow"
Yeah yeah, kind of a nit pick, but making an app takes about 2 minutes. I'd say maybe 2-3X longer than the CLI.

[2015-07-18 14:13] cfjedimaster commented on #7
On a new project, I also got an error installing iOS. So maybe platform adding is broken in general.

[2015-07-18 14:14] cfjedimaster opened #9 "Add a link to open folder"
Add a quick way to open the folder containing the project.

[2015-07-18 14:16] cfjedimaster opened #10 "Old plugin names for camera and contacts"
It looks like when you add Camera and Contacts you add the old org.apache.etc names instead of cordova-plugin-\* names.

[2015-07-18 14:18] cfjedimaster opened #11 "Consider keeping notifications longer"
I mentioned this in the bug about adding Android, but messages at the bottom of the screen auto dismiss, and if you aren't paying attention, you can miss them. If you are ADD like me and decide to do 5 things at once, you may miss that an operation successfully completed (or threw an error). That's my fault of course, but I'd consider making status messages, the final one, persist at the bottom un

[2015-07-18 14:47] cfjedimaster opened #12 "Icon and Atom"
Ok, so this is _super_ petty, but the icon is very similar to Atom.

![image](https://cloud.githubusercontent.com/assets/393660/8762008/f8108c7a-2d31-11e5-99e6-a5e3d5b0a7de.png)

Close enough to be confusing.

[2015-07-18 14:47] cfjedimaster commented on #12
Hmm - that pasted weird. Let me try again.

![image](https://cloud.githubusercontent.com/assets/393660/8762009/08e68eaa-2d32-11e5-9ef2-f0771a473a4e.png)

[2015-07-18 14:48] cfjedimaster commented on #12
boggle - I don't normally have issues pasting images from Skitch. One more time.
<img width="94" alt="workdamnit" src="https://cloud.githubusercontent.com/assets/393660/8762011/1d89a784-2d32-11e5-9528-0c12ad11e6e7.png">

[2015-07-18 17:07] mdridley commented on #11
I agree with this one. Would be nice to maybe have a way to review the message logs, so that you can copy & paste for bug reporting or for future Google searches and such.

[2015-07-18 19:26] bensperry commented on #12
Yeah, this current one is going to be replaced. I realized this needed to happen the other day after getting my iPhone serviced...

![image](https://cloud.githubusercontent.com/assets/519526/8763235/f583af88-2d58-11e5-9593-c35eb150ff28.png)

[2015-07-18 19:47] mlynch commented on #12
LOL

On Sat, Jul 18, 2015 at 2:26 PM, Ben Sperry notifications@github.com
wrote:

[2015-07-20 14:06] jbavari commented on #9
This is available from the File menu. I was using the opn module to do this with default OS (finder or Windows Explorer), Sublime Text or Atom.

There was a change with the opn module and I had to update with the change.

Will be available in Alpha 14.

[2015-07-20 14:08] cfjedimaster commented on #9
Sorry, to be clear, are you saying you will add the option to open the
folder? I do see open in sublime and atom (why not Visual Studio Code? :)
but I do not see an existing option to open the folder.

On Mon, Jul 20, 2015 at 9:06 AM, Josh Bavari notifications@github.com
wrote:

##

#

Raymond Camden, Developer Advocate for MobileFirst at IBM

Email : raymondcamden@gmail.com
Blog : www.raymondcamd

[2015-07-20 14:13] jbavari commented on #9
Open the folder has been added.

Are you using Windows or Mac?

[2015-07-20 14:18] cfjedimaster commented on #9
Mac

On Mon, Jul 20, 2015 at 9:13 AM, Josh Bavari notifications@github.com
wrote:

##

#

Raymond Camden, Developer Advocate for MobileFirst at IBM

Email : raymondcamden@gmail.com
Blog : www.raymondcamden.com
Twitter: raymondcamden

[2015-07-20 14:25] jbavari commented on #9
I really would like to have the GUI check which applications are available before just showing all.

For now, I will show all. That being said, I have a flag in there, windows users see different items than Mac users do. Windows users will see Visual Studio regardless.

I'll go ahead and add Visual Studio Code to the list for Mac.

[2015-07-20 15:35] jbavari commented on #12
We've got a new icon in there. Will be rolled out in the next release!

[2015-07-20 15:35] #12 closed, assigned to nobody

[2015-07-20 15:36] jbavari commented on #6
Yep, getting some wires together to improve the logging system. cc @bensperry

[2015-07-20 15:37] jbavari commented on #5
This functionality is built in. It needs a bit improving though to become a bit useful.

There is an 'open link' button/icon in the lower right of the server screen that opens it in the browser. Also on the status bar, theres the server address listed and clicking on it also opens the browser.

[2015-07-20 15:37] jbavari commented on #1
This should be corrected in the next release.

Thanks for reporting!

[2015-07-20 15:39] jbavari commented on #10
Yep, started this long ago before those plugins changed. I'll get those updated.

[2015-07-20 15:40] jbavari commented on #9
This should be out in next release.

[2015-07-20 18:55] jbavari commented on #10
Raymond - whats the best way that you know of to get a list of the apache supported plugins?

I used to hit: `http://plugins.cordova.io/_list/search/search?startkey=%22cordova-plugin%22&endkey=%22cordova-pluginZZZZZZZZZZZZZZ%22&limit=50`

Not sure if thats what I want anymore.

[2015-07-20 19:18] cfjedimaster commented on #10
You mean the "official" list or all plugins? If you mean the official list, I'd hard code it. They don't change that list very often.

[2015-07-20 19:19] jbavari commented on #10
The official list. You're right, i'll just manually modify it for now.

[2015-07-20 19:29] jbavari commented on #11
Roger - for starters we just popped up messages. It's a pretty loose notification system and needs some work.

You're right @mdridley - we should be showing some sort of notifications popup to review the notifications. Going to address that this week.

[2015-07-20 20:37] mdridley opened #13 "Release/Updates"
Would be nice to be able to check for updates automatically. Perfect world would be like Android Studio where you could choose your channel (Alpha, Beta, Dev, Release).

[2015-07-20 21:14] jbavari commented on #13
That is in the works. We are still in the early stages of building this. :8ball:

[2015-07-20 22:19] jbavari commented on #7
Could you try seeing if any output comes through on the dev console? Hit CMD+ALT+I.

[2015-07-20 22:21] jbavari commented on #4
Could you try seeing if there are any errors in the Dev console? Try going to Menu -> View -> Toggle DevTools (CMD+ALT+I)

Also, are you on windows or Mac?

[2015-07-20 22:22] jbavari commented on #2
How do mean precisely? Do this on the folder/directory 'Browse' button is hit? Or within the app itself?

[2015-07-20 22:30] cfjedimaster commented on #7
For the comment on page 20, I disagreed and said why, and if you want to
continue that via email (may be easier than sending a doc back and forth),
I'd be cool with that.

On Mon, Jul 20, 2015 at 5:19 PM, Josh Bavari <notifications@github.com>
wrote:

--
===========================================================================
Raymond Camden, Developer Advocate for MobileFirst at IBM

Email : ra

[2015-07-20 22:31] cfjedimaster commented on #7
Oops, I repied to the wrong email in Gmail. Hope I can delete it...

[2015-07-20 22:40] jbavari commented on #8
I added the start information in the logging. You're right, it does seem to take longer than normal. I'm investigating now.

[2015-07-21 01:43] cfjedimaster commented on #7
Sigh - so I test tonight and it works.

[2015-07-21 01:43] cfjedimaster commented on #7
Ditto for ios.

[2015-07-21 01:52] cfjedimaster commented on #7
cmd-alt-i eh - is this a nw.js app? :)

[2015-07-21 01:52] cfjedimaster commented on #7
Ah, Electron. Digging into the source now. :)

[2015-07-21 13:41] mdridley commented on #13
Figured, until then, is there a way to know when a new version is ready to download and install? (Are you just going to send an email out or ?)

[2015-07-21 15:51] jbavari commented on #7
Yes, it's an electron app. Enjoy.

[2015-07-21 15:51] jbavari commented on #13
I'll get some sort of system in the next release. For now, I will email you until that is done.

[2015-07-23 15:48] rossmartin opened #14 "Importing an existing project fails"
I have an existing Ionic app that I'm trying to import but it fails silently.  According to the dev console it appears to be because of a missing `package.json` in the root of the project) -

![image](https://cloud.githubusercontent.com/assets/2498502/8854805/6f58f83c-3127-11e5-97ad-a104c914660c.png)

This project was initially created with an older version of the Cordova CLI so maybe that is why

[2015-07-23 17:23] jbavari commented on #13
This is now available in alpha 14.

[2015-07-23 17:23] #13 closed, assigned to jbavari

[2015-07-23 17:23] jbavari commented on #11
This has been bumped up in alpha 14. Thanks again.

[2015-07-23 17:23] #11 closed, assigned to jbavari

[2015-07-23 17:23] jbavari commented on #9
This is out in alpha 14.

[2015-07-23 17:23] #9 closed, assigned to jbavari

[2015-07-23 17:23] jbavari commented on #7
Closing, please reopen if an issue in alpha 14.

[2015-07-23 17:23] #7 closed, assigned to nobody

[2015-07-23 17:24] jbavari commented on #6
This is out in alpha 14.

[2015-07-23 17:24] #6 closed, assigned to nobody

[2015-07-23 17:24] jbavari commented on #3
This is out in alpha 14.

[2015-07-23 17:24] #3 closed, assigned to nobody

[2015-07-23 17:24] jbavari commented on #1
This is out in alpha 14.

[2015-07-23 17:24] #1 closed, assigned to jbavari

[2015-07-23 17:24] jbavari commented on #10
This is out in alpha 14.

[2015-07-23 17:24] #10 closed, assigned to jbavari

[2015-07-23 17:25] jbavari commented on #8
Added logging for start. If its still slow, please reopen. This is out in alpha 14.

[2015-07-23 17:25] #8 closed, assigned to jbavari

[2015-07-23 17:40] mdridley commented on #4
Does not look like it is giving much more there:
consolelog is going
appctrl.js:411 serve  /lib/ionic/fonts/ionicons.ttf?v=2.0.1
appctrl.js:413 scope logMessages
Plugin com.ionic.keyboard does not exist in the plugins directory. Skipping
Plugin org.apache.cordova.file does not exist in the plugins directory. Skipping
Running live reload server:
Watching :
Running dev server: http://localhost:8100

[2015-07-23 17:43] mdridley commented on #2
I think either would work. The app itself would be fine, just having it right below where the directory is shown that was chosen.

[2015-07-23 18:15] cfjedimaster opened #15 "Tooltips"
Add em. I have a icon in the upper right side (to the left of the settings gear) and I can't tell what it is. I assumed I could mouse over and wait for a tooltip, but none show up.

[2015-07-23 18:15] cfjedimaster commented on #15
So I clicked, it opened up a bottom panel. I honestly thought it was a folder icon and it would open the folder for the app.

[2015-07-23 18:16] cfjedimaster opened #16 "Log panel right side icons are blocked a bit"
In the screen shot below, the X icon is partially blocked:

![image](https://cloud.githubusercontent.com/assets/393660/8858436/0cdf9466-313d-11e5-893f-858da06f56b5.png)

[2015-07-23 18:19] cfjedimaster opened #17 "Preview link in title uses the 'hand' icon"
When I mouse over Preview, it shows the hand icon, so I tried clicking it. When nothing happened, I assumed something was wrong.

[2015-07-23 18:20] cfjedimaster opened #18 "Support showing both iOS and Android"
The browser based lab can show iOS and Android at the same time, why not Ionic Lab?

[2015-07-23 18:21] cfjedimaster opened #19 "Share option not working"
When I try to share, I get an error in console:

TypeError: Cannot read property 'jar' of undefined
    at Scope.shareApp (existing.js:533)
    at $scope.shareAppPopup.$ionicPopup.show.buttons.onTap (existing.js:514)
    at Scope.extend.$buttonTapped (ionic.bundle.js:44883)
    at $parseFunctionCall (ionic.bundle.js:20628)
    at ionic.bundle.js:52854
    at Scope.$eval (ionic.bundle.js:22684)

[2015-07-23 18:22] cfjedimaster commented on #19
Ok, it works if you upload first. Share button should account for that of course.

[2015-07-23 18:23] cfjedimaster opened #20 "Share button should validate email address"
I just shared w/ "moo" and the app was cool with it. ;)

[2015-07-23 18:29] cfjedimaster opened #21 "Checking plugins messes up their order"
I was in the Plugins area enabling multiple plugins at once. While I clicked, I saw the order of plugins change, kind of randomly. If I had to guess, I'd say they were trying to sort by checked. I would not sort them at all, or at minimum, wait to sort till you leave that tab and return.

Personally I'd vote for keeping them in alpha order.

[2015-07-23 18:30] cfjedimaster commented on #21
In testing some clicks to remove, not even going very fast, I actually clicked the wrong item because it sorted right before I clicked.

[2015-07-23 18:38] cfjedimaster opened #22 "Can't emulate iOS at times"
I'm not sure I'll be able to replicate this, but after playing for about 20 minutes, and working on a new app, I can't emulate to iOS. It is stuck on "Your application is launching for iOS".

Logs don't show anything interesting: (ugh, can't copy Logs, will file a new bug for that)
Console shows an issue w/ livereload, but I had the server up in another app so I don't think it is related.

Will po

[2015-07-23 18:38] cfjedimaster opened #23 "Can't copy logs from Log viewer"
You can't copy text from the new log viewer.

[2015-07-23 18:40] cfjedimaster commented on #22
Restarted Lab, still can't emulate this new app. Still nothing interesting in the logs.

[2015-07-23 18:42] cfjedimaster commented on #22
This seems to be _just_ with new projects. When I open an existing project, it can emulate iOS ok.

The last item in the log for 2 new apps that won't emulate is:
Wrote out iOS Bundle Version to "0.0.1"

[2015-07-23 18:43] cfjedimaster commented on #22
Building for iOS also seems broken. Again, only for a new app. My old app builds fine.

[2015-07-23 18:45] cfjedimaster opened #24 "IonicLab serve conflicts with CLI"
I forgot I had ionic serve running in a Terminal tab. When I use "Start server" in IonicLab, it uses my app from the terminal and not the project I'm testing. IonicLab should be able to notice another server is running and either not use it, or tell me to kill lit.

[2015-07-23 18:45] cfjedimaster commented on #24
Ouch - ok - I killed ionic serve running in the tab, but IonicLab still won't show my new app. I tried stopping and starting the server a few times. It is caching it somehow.

[2015-07-23 18:47] cfjedimaster opened #25 "IonicLab "lost" an app"
I had an app I made with IonicLab and it showed up in the left hand nav. I just closed and reopened Lab and it is gone now. Obviously it still exists, but something killed it from the left hand nav.

[2015-07-23 18:48] cfjedimaster commented on #24
I'm seeing caching in Lab too. I have a tabs app in Lab and a Side menu, when I view one, then stop server, then start in the other, it shows the first app.

[2015-07-23 19:29] jbavari commented on #23
Will be fixed in Alpha 15.

[2015-07-23 19:29] jbavari commented on #20
Roger, on it now! :)

[2015-07-23 19:37] bensperry commented on #15
Agreed. I'd like to add them as well. That icon will be switched soon, it's a filler until we polish up that experience.

[2015-07-23 20:39] jbavari commented on #20
Will be fixed in alpha 15.

[2015-07-23 20:39] jbavari commented on #18
We discussed this before, the main reason here is, there isnt enough room with that side bar.

I'll discuss this with @bensperry and see what we can do.

[2015-07-23 20:40] jbavari commented on #19
Roger, i'll put a check to make sure its uploaded first.

[2015-07-23 21:29] cfjedimaster commented on #18
Oh I agree, by default there isn't enough space. However, the app is
resizable. Currently the platform selection is an EITHER/OR type thing.
What if you made it a toggle for both? If the user sees that both don't
fit, they can expand, and if they don't want to expand, they can simply
turn off the OS they don't want currently.

In other words, let the user decide if they want to expand the app to f

[2015-07-23 22:10] jbavari commented on #15
I've added some in for the logs and settings icons.

[2015-07-23 22:13] jbavari commented on #16
Interesting, I dont have those scroll bars. I wonder if theres a way to detect if they show?

Just going to bump the right css property.

[2015-07-23 22:19] jbavari commented on #21
Roger, bad user interaction. Changing.

[2015-07-23 22:33] cfjedimaster commented on #16
I'm sure there is a way of handling it in CSS. Much like how centering
things is easy in CSS. And layout.

Good luck!

On Thu, Jul 23, 2015 at 5:13 PM, Josh Bavari notifications@github.com
wrote:

##

#

Raymond Camden, Developer Advocate for MobileFirst at IBM

Email : raymondcamden@gmail.com
Blog : www.raymondcamden.com
Twitter: raymondcamden

[2015-07-23 22:55] jbavari commented on #17
This should be corrected in next build.

[2015-07-23 22:56] jbavari commented on #14
I'm looking into this one now. Thanks for reporting Ross!

[2015-07-23 22:57] jbavari commented on #25
@cfjedimaster do you know if the app crashed and you re-opened it? Hmm. Trying to figure out if it got dropped some how.

When you hover over the apps, a little 'x' appears. However, that prompts a modal asking you to confirm removing it. I'm sure that didnt show.

[2015-07-24 13:24] cfjedimaster commented on #25
Nope, I didn't do that. I was testing the heck out if - specifically
messing with Serve and Build and stuff, so maybe I was clicking around too
quick. If I see it again, I'll come back to this bug.

On Thu, Jul 23, 2015 at 5:57 PM, Josh Bavari notifications@github.com
wrote:

##

#

Raymond Camden, Developer Advocate for MobileFirst at IBM

Email : raymondcamden@gmail.com
Blog : www.raymondcamden.

[2015-07-24 15:46] jbavari commented on #14
@rossmartin I've now got the status bar showing that it does not have a package.json file.

However, I only need the package.json file mainly to look up the project name. I can also look up the project name from the ionic.project file.

Did you older app there have an ionic.project file?

Trying to think of the best way to handle this, would love some feedback. What do you think, perhaps show the

[2015-07-24 15:48] jbavari commented on #25
Alright, thanks for the feedback. I haven't seen this myself, and I haven't been able to reproduce. Not saying it doesnt exist, just saying I cant get it to happen. Woe is me! :8ball:

[2015-07-24 15:48] jbavari commented on #24
I've got some code in the serve command to try and look for IP address conflicts and work around them. Perhaps this isnt in place in the GUI? I'll double check today.

[2015-07-24 19:52] jbavari commented on #24
I think I've found out the cause -

In the GUI - it tries to serve by default on 0.0.0.0 IP address.

On the CLI, you can specify which IP address to use - and if you specify localhost, my port in use process cannot detect a conflict.

What needs to happen is to check both localhost and 0.0.0.0 for port conflicts.

As far as part of your 'caching' - that was a bug ive corrected in the GUI. It shou

[2015-07-24 20:34] jbavari commented on #22
Aha, I've found the bug. It's nestled down in cordova-lab. I'm going to have to adjust the fork Ive got for cordova-lib and make appropriate changes to patch this.

[2015-07-24 21:35] mdridley commented on #18
I was thinking the same thing as cfjedimaster. On high res screens, both fit, but I could toggle to one at a time on smaller.

[2015-07-24 21:37] mdridley commented on #22
Sweet, I think that would fix my issue. I was only playing with new apps for now.

[2015-07-24 21:42] mdridley opened #26 "Request: More Preview Options"
Would be nice to add additional sizes and to change the orientation on the previews.

[2015-07-27 20:26] rossmartin commented on #14
Thanks.  My older app didn't have an ionic.project file.  I think showing a message with instructions on how to fix would be perfect.  Will `npm init` fix the issue?

[2015-07-28 13:08] jbavari commented on #14
@rossmartin Yes, the instructions specify to run `npm init`. New alpha should be out today.

[2015-07-28 15:09] jbavari commented on #21
Fixed, should be available in new alpha today.

[2015-07-29 00:35] jbavari commented on #22
I think I've found the issue.

I'm using cordova-lib under the hood to fire off the run, build, emulate, etc commands for cordova. Whats happening is some node packages that cordova-lib uses tries to use the `fork` command from node's `child_process` module.

This creates a problem in a few ways. The first is that `fork` in electron issues the request to the electron process (it is, after all, usi

[2015-07-29 20:32] jbavari commented on #23
Fixed in alpha 16.

[2015-07-29 20:32] #23 closed, assigned to jbavari

[2015-07-29 20:32] jbavari commented on #21
Fixed in alpha 16.

[2015-07-29 20:32] #21 closed, assigned to jbavari

[2015-07-29 20:32] jbavari commented on #20
Fixed in alpha 16.

[2015-07-29 20:32] #20 closed, assigned to jbavari

[2015-07-29 20:32] jbavari commented on #17
Fixed in alpha 16.

[2015-07-29 20:32] #17 closed, assigned to jbavari

[2015-07-29 20:33] jbavari commented on #16
Fixed in alpha 16.

[2015-07-29 20:33] #16 closed, assigned to jbavari

[2015-07-29 20:33] jbavari commented on #14
Fixed in alpha 16.

[2015-07-29 20:33] #14 closed, assigned to jbavari

[2015-07-29 20:33] jbavari commented on #15
Added in alpha 16.

[2015-07-29 20:33] #15 closed, assigned to jbavari

[2015-07-29 21:02] cfjedimaster opened #27 "Settings, Enable live reload has no UI"
There seems to be no toggle for "Enable live reload"

![image](https://cloud.githubusercontent.com/assets/393660/8969784/34952228-360b-11e5-9c1d-abc537304fac.png)

[2015-07-29 21:03] cfjedimaster opened #28 "No validation on live reload port"
See screenshot:

![image](https://cloud.githubusercontent.com/assets/393660/8969804/4db6b87a-360b-11e5-8ef7-068f3c0ad987.png)

[2015-07-29 21:05] cfjedimaster opened #29 "ios build failed, but no log"
I just tried to build for iOS. It immediately failed, and I got the message at the bottom (which imo still goes away too quickly), but nothing new was shown in the log window. I believe this is the same message I saw before:

Generating config.xml from defaults for platform "ios"
Calling plugman.prepare for platform "ios"
Preparing ios project
Processing configuration changes for plugins.
Iteratin

[2015-07-29 21:05] cfjedimaster opened #30 "Checkboxes in app list"
Ok, I'm the last person to comment on design, but what's up with the checkboxes in the app list? They don't actually do anything as far as I can tell.

![image](https://cloud.githubusercontent.com/assets/393660/8969878/afaae5d8-360b-11e5-8a88-5feac82b03ae.png)

[2015-07-29 21:07] cfjedimaster opened #31 "New app doesn't validate folder"
If you make a new app and don't select a folder, it actually creates a folder called "Select path to create app". I _think_ it used the same root folder as the last app I played with.

[2015-07-29 21:08] cfjedimaster commented on #29
As an FYI, I tried a virgin project, and I can't even install ios.

Generating config.xml from defaults for platform "ios"
Calling plugman.prepare for platform "ios"
Preparing ios project
Processing configuration changes for plugins.
Iterating over installed plugins:
Writing out cordova_plugins.js...
Creating Ionic app in folder Select path to create app based on sidemenu project
Downloading: http

[2015-07-29 21:09] cfjedimaster commented on #29
Ouch. So, in this virgin project, I installed Android and it worked ok. I then did Build, and I got: "You are trying to build iOS and it is not installed."

So the previous attempt to add ios got part way through I believe.

[2015-07-29 21:10] cfjedimaster opened #32 "Plugin list is too small"
Especially compared to the rest of the UI.

![image](https://cloud.githubusercontent.com/assets/393660/8969973/4d235c32-360c-11e5-9277-8aadd241e319.png)

Feel free to tell me I'm too old.

[2015-07-29 21:12] cfjedimaster opened #33 "Issue when installing plugins too quickly"
If you try to install plugins too quickly, and I recognize that's a bit vague. I was clicking along the list about 1 every 1/2 second or so. Not _super_ fast, but I didn't wait for them to complete. Anyway, things didn't quite work right. I can make a video, but it seemed like the app got confused and tried to remove plugins I was trying to add.

Yeah, I just reproduced this easily - just click 3

[2015-07-29 21:12] jbavari commented on #26
This is in the pipeline for sure.

However, we're going to focus on getting the project working solidly, before focusing on enhancements like this.

Thanks for the suggestion.

[2015-07-29 21:12] cfjedimaster commented on #33
Wow, now I can't install plugins at all on this project. So when it messes up, it breaks something at the project level.

[2015-07-29 21:13] jbavari commented on #31
Yep, you're right. I'll get on this ASAP.

[2015-07-29 21:14] jbavari commented on #33
I'll have to say, integrating with the cordova-lib has been a pain. One that I'm not too happy with how the results turned out. It seems like everytime I patch something to fix, something else goes bonkers.

I'll look into this.

[2015-07-29 21:14] cfjedimaster commented on #33
Ok, so I think we either have two issues here, or it is simply one issue related to the other bug I reported on iOS not installing and breaking the app. I see errors in console that it is trying to copy stuff for ios, but obviously my project doesn't support iso now due to the issues I reported elsewhere.

Just to repeat - this may be two separate issues. I'm going to try again in a new project wh

[2015-07-29 21:15] jbavari commented on #27
I've been so heads down on patching cordova-lib integrations, I haven't had time to get to settings. Thats up next.

[2015-07-29 21:16] jbavari commented on #30
For now, those are placeholders. We are planning to have those be the app icon of the application, once the user uploads one.

This is still pending integrations with ionic resources, as well.

[2015-07-29 21:17] jbavari commented on #29
Roger, I'll look into it.

[2015-07-29 21:17] cfjedimaster commented on #33
Not to make things more confusing, but on another virgin project, ios worked. So... ok. I tried my 'rapid click' and it worked fine. I think you can maybe close this as it's an issue with platform install leaving behind crap that breaks the project. (If that makes sense.)

[2015-07-29 21:17] jbavari commented on #28
Still working on the settings.

[2015-07-29 21:18] cfjedimaster commented on #30
Cool. Which leads me to an idea...

[2015-07-29 21:18] cfjedimaster opened #34 "Support resource generation"
Have a new panel/tab/doohicky where I can copy an icon and splashscreen and click a button to run the CLI magic crap that generates icons. The UI should also do like the CLI and give you hints on the best sizes/formats.

[2015-07-29 21:19] jbavari commented on #19
@cfjedimaster could you please confirm share first validates its uploaded?

[2015-07-29 21:19] jbavari commented on #18
Roger, this is something we will focus on once the project is stable.

[2015-07-29 21:19] cfjedimaster opened #35 "Support Ionic Services"
This is _way_ early, but if I could see my stats, do pushes, and use deploy, from the app, that would be cooler than beer. Almost.

[2015-07-29 21:20] bensperry commented on #30
Yes?

[2015-07-29 21:20] jbavari commented on #34
Yep, this is in the works.

First, I have to pull out the resources command from ionic-cli and get it into ionic-app-lib, then we can get that integrated into the gui.

I need more hands! :)

[2015-07-29 21:21] jbavari commented on #35
Yes and yes. Side note: what is your favorite beer? Pretty sure I owe you one!

[2015-07-29 21:22] cfjedimaster commented on #30
Sorry, I posted it as a new issue. :)

[2015-07-29 21:22] cfjedimaster commented on #19
Confirmed.

[2015-07-29 21:22] jbavari commented on #30
@bensperry see #34

[2015-07-29 21:23] jbavari commented on #19
Closing, thank you!

[2015-07-29 21:23] #19 closed, assigned to jbavari

[2015-07-29 21:24] cfjedimaster commented on #35
Next time I'm town. Just convince IBM we need to have special "high level meetings with exec types." I'll even bring a tie. (I won't put it on. But I'll bring the one tie I own.)

[2015-07-29 21:26] cfjedimaster opened #36 "Upload should not allow you to upload again until the first is done"
I was able to upload N times while uploads were in progress. Nothing seemed to go wrong, but I really think the app should prevent that.

[2015-07-29 21:28] cfjedimaster commented on #29
Adding more info on this.

I made yet another virgin project, and this one actually got iOS. It seemed ok. I even did a build.
I then did emulate, and it failed:

ERROR running one or more of the platforms: Error: ENOENT: no such file or directory, open '/Users/raymondcamden/Desktop/trash/platforms/ios/HelloCordova/config.xml'

And then build stopped working too.

[2015-07-29 21:59] jbavari commented on #36
Roger, on it now.

[2015-07-29 22:15] jbavari commented on #31
Will be in next release.

[2015-07-29 22:58] jbavari commented on #36
Should be in next release.

[2015-07-29 22:59] jbavari commented on #33
Yea, I think I've found that bug you've had, and it looks like some remnants of the 'adding platform'.

Still going to look into this, really want this stable by friday.

[2015-07-30 13:50] mdridley opened #37 "Creator Integration?"
Is there a plan to include creator for initial app creation?

[2015-07-30 14:01] mdridley opened #38 "Scroll to Bottom on Logs"
When you open the logs for the first time it is at the top, scrolled to the bottom would seem to be a better approach.

[2015-07-30 14:03] mdridley opened #39 "Cancel Current Build"
Allow user to cancel the build

[2015-07-30 14:04] mdridley opened #40 "Build Options"
Allow user to do more with the build...
Release Mode,
Which Platforms,
Version Bump

[2015-07-30 14:06] mdridley opened #41 "Build Frozen?"
Build is not advancing past this part (no Android build):
![image](https://cloud.githubusercontent.com/assets/1685242/8984938/50575910-369a-11e5-8c9c-72dcdea637df.png)

[2015-07-30 20:22] jbavari commented on #38
Good suggestion.

This should be in there. There will also need to be some kind of scroll lock to avoid scrolling while a user is examining the logs.

Kind of like this JSFiddle:

http://jsfiddle.net/nT75k/2/

[2015-07-30 20:48] mdridley commented on #38
Yep, that would be perfect!

[2015-07-30 22:56] jbavari commented on #41
Patching this right now.

[2015-07-30 23:10] jbavari commented on #41
Should be available in next release.

[2015-07-30 23:11] jbavari commented on #37
This will most likely be in the roadmap, yes. Once all the other features are implemented, of course :8ball:

[2015-07-31 00:27] jbavari commented on #32
I've corrected this. Will be available in next release.

[2015-07-31 00:29] jbavari commented on #30
We updated the icon to have the default ionic resources icon. Will be available in next release.

[2015-07-31 15:25] jbavari commented on #2
@mdridley For now, we are just going to stick with the default 'New Folder' button that the `Select File` dialog provides. (Near the bottom of this screenshot)
<img width="995" alt="screen shot 2015-07-31 at 9 23 05 am" src="https://cloud.githubusercontent.com/assets/1414692/9010704/cc9ae192-3765-11e5-9223-92ff91d692d0.png">

[2015-07-31 19:01] jbavari commented on #2
Closing for now.

[2015-07-31 19:01] #2 closed, assigned to jbavari

[2015-07-31 19:01] #41 closed, assigned to jbavari

[2015-07-31 19:02] #36 closed, assigned to jbavari

[2015-07-31 19:02] #32 closed, assigned to jbavari

[2015-07-31 19:02] #31 closed, assigned to jbavari

[2015-07-31 19:02] #30 closed, assigned to jbavari

[2015-07-31 19:02] jbavari commented on #22
Should be fixed in next release.

[2015-07-31 19:02] #22 closed, assigned to jbavari

[2015-07-31 19:03] jbavari commented on #33
This should be fixed.

[2015-07-31 19:03] #33 closed, assigned to jbavari

[2015-08-12 18:49] docherty opened #42 "Error: "you are trying to run iOS but it's not installed""
I've just installed the Ionic Lab:
- created a new project
- added a few plugins
- added Android platform
- pressed "run"
- get Error: "you are trying to run iOS but it's not installed" at the bottom of the UI

[2015-08-12 23:06] jbavari commented on #42
Thanks for the report.

It appears right now the run button by default tries to run iOS. We're still working out the UI.

What happens when you 'run Android' from the top menu bar?

[2015-08-12 23:10] tgrk opened #43 "Errors on Macbook Pro OSX 10.10.4"
Actions I tried:
- Start from Launchpad (not working due to dev certificate issue), but works from Finder
- Create a new project - ok
- Add platform android  - error message
- Add platform ios - error message
- Menu -> Help -> Report an issue - nothing happens

Full log from lab's console - http://pastebin.com/mgU1tAgD

[2015-08-12 23:22] NorthMcCormick commented on #35
Ah I second this. If the upload had a more extensive modal or it had a deploy button to choose the channel and note. The website works great for it right now though

[2015-08-13 06:12] crofton77 opened #44 "$http.get not woking correctly"
I and getting a issue with $http.get getting my test json files.

$http.get('/api/category.json') - works with cli and Ionic Labs
$http.get('/api/game.json') - Works with cli but gets a 404 with Ionic Labs

also the 'game.json' give me a encoding error when access via CLI (http://localhost:8100/api/game.json) when access via the browser. Direct link to the file does works fine.

Can any help with

[2015-08-13 08:22] gaurav-chandra opened #45 "Installing Plugin gives a blank screen"
I am on mac os x yosemite and when I click on a plugin to install, I get a banner message at bottom but all of a suddent the lab's screen goes blank and I have to restart the application.

[2015-08-13 08:28] gregoiremotot opened #46 "Can't add Facebook Connect plugin"
Hi !
Thanks for this awesome work !

I have a trouble, when I try to add  Facebook Connect plugin, I get :

Calling plugman.fetch on plugin "https://github.com/Wizcorp/phonegap-facebook-plugin.git"
Fetching plugin "https://github.com/Wizcorp/phonegap-facebook-plugin.git" via git clone
Running command: git clone --depth=1 https://github.com/Wizcorp/phonegap-facebook-plugin.git /var/folders/33/c70j6

[2015-08-13 09:17] gregoiremotot opened #47 "Error : File => open existing application => cancel"
When I do :
File => open existing application => cancel

I get :
![capture d ecran 2015-08-13 a 11 14 09](https://cloud.githubusercontent.com/assets/5852359/9246553/a9bb97a6-41ac-11e5-81d1-376f3ed0dee4.png)

[2015-08-13 12:06] cbetz opened #48 "Make Error modal text selectable"
It would be great if the text in the modal that appeared when an error occurs could be selectable. It makes research easier (for copy / paste).

[2015-08-13 15:32] jbavari commented on #47
Thanks for reporting. We'll patch that right up.

[2015-08-13 15:33] jbavari commented on #38
Available in latest beta.

[2015-08-13 15:33] #38 closed, assigned to jbavari

[2015-08-13 15:33] jbavari commented on #29
Build logs are now available.

[2015-08-13 15:33] #29 closed, assigned to jbavari

[2015-08-13 15:34] jbavari commented on #46
Thanks for reporting.

We're still in beta. One of the next items on the roadmap for Ionic lab is to get customized plugins and plugin searching built in.

Hang tight while we work on the feature. :)

[2015-08-13 15:35] jbavari commented on #45
Are there any logging entries you could provide to help us look into the issue?

[2015-08-13 15:39] jbavari commented on #43
Thanks for reporting. I'll get right on this.

[2015-08-13 17:29] sean-hill opened #49 "Able to clear local storage"
I'd like functionality similar to `window.localStorage.clear()` in the browser. Thanks :)

[2015-08-14 06:52] gaurav-chandra commented on #45
where are the logs generated? I can't seem to find any on my mac.

[2015-08-14 16:00] jbavari commented on #45
The logs should be re-populated when you start the app again, from there you should be able to copy/paste the contents.

However, if not, they are put in the app directory itself.

If you right click the `.app` file, Show package contents, Contents, resources, app, `logfile.log`.

[2015-08-14 17:28] PCateNumbersUSA commented on #48
+1

[2015-08-15 10:45] gaurav-chandra commented on #45
{"level":"info","message":"\u001b[33mPlugin com.google.admobsdk does not exist in the plugins directory. Skipping\u001b[39m","timestamp":"2015-08-15T10:41:25.308Z"}
{"level":"info","message":"\u001b[33mPlugin cordova-plugin-extension does not exist in the plugins directory. Skipping\u001b[39m","timestamp":"2015-08-15T10:41:25.310Z"}
{"level":"info","message":"\u001b[33mPlugin org.apache.cordova.ca

[2015-08-15 12:32] pulkitsinghal opened #50 "Can't find node if nvm is in use"
Given the logs, it is just my guess that it can't find node because I'm using NVM (node version manager) on my mac:

[code]

[2015-08-18 01:00] gigocabrera opened #51 "Splash screen hangs after adding Splashscreen plugin"
After adding the Splashscreen plugin using ionc lab, my app hung and never finished loading while displaying the splash screen. I got the following error message in the console:

[code]

I noticed it added a nested "app.run" inside my app's **my_app_name.run**  function

[code]

 Modifying the code as follows fixed the issue (in case anybody else encounters this situation)

[code]

[2015-08-18 15:06] abhyaasa opened #52 "Help > Tutorials and Help > Report an issue not working"
Help > Tutorials and Help > Report an issue both do nothing. Help > Documentation does open the github site (though if there's any documentation there it's not clear how to find it).

[2015-08-18 15:08] abhyaasa opened #53 "Settings not saved"
The settings view (gear icon) selections aren't saved from session to session (even when logged in).

[2015-08-18 19:17] csantanapr commented on #50
I'm using nvm and having sample problems

[2015-08-18 19:34] richkirsch opened #54 "ios-sim not found error - but it is installed"
Attempting to either run or simulate an app results in the following error:

<img width="420" alt="screen shot 2015-08-18 at 19 59 41" src="https://cloud.githubusercontent.com/assets/5949743/9340522/0e9175e4-45e8-11e5-84b9-397d2fcdc2fe.png">

This is the case both with new apps and existing apps. I can run ios-sim in the terminal (version 4.1.1). Everything works as expected using ionic CLI, such

[2015-08-21 00:11] peetwright opened #55 "Starting out issue... error installing platforms"
I just downloaded Ionic Lab and fired it up. This is a fresh machine so no NPM no ionic CLI like I used to have...

In Lab I clicked INSTALL next to both IOS and Android. Both error out with Error installing XXXX ... X=iOS or Android depending on which. Can't move forward and only saw a few others have had this issue but no resolution posted herein.

Here is what spat out in console:

No version s

[2015-08-21 17:44] danielmilner opened #56 "console.log() not written to the log panel"
Anything output to `console.log()` does not show up in the log panel.

[2015-08-21 22:28] jbavari commented on #48
This will be available in next beta.

[2015-08-27 08:00] christian-pletz commented on #43
I have the same issue on OSX 10.10.5

[2015-08-27 08:41] aaronallport commented on #54
+1

I'm having this exact issue too - any advice would be appreciated. Thanks!

[2015-08-27 14:53] jbavari commented on #54
Would you please run `npm install -g ios-sim` and see if that solves things?

I'm wondering if the latest version fixes the issue.

[2015-08-27 15:05] jbavari commented on #52
This will be fixed in beta.2. Thanks for reporting.

[2015-08-27 15:05] jbavari commented on #48
Available in beta.1. Thanks.

[2015-08-27 15:05] #48 closed, assigned to jbavari

[2015-08-27 15:08] jbavari commented on #47
This should be fixed in beta.1 - please confirm by downloading latest.

Thanks!

[2015-08-27 15:10] jbavari commented on #49
@sean-hill What would be the use case for this? Just to clear out the apps as stored in local storage?

Currently as a work around, you could clear the localStorage via console (open dev console, run command).

[2015-08-27 18:21] sean-hill commented on #49
Honestly @jbavari, I can't remember why. I was testing it out and saw that it would be nice to have, but I can't remember why! If I do I'll open another ticket.

[2015-08-27 18:21] #49 closed, assigned to jbavari

[2015-08-27 18:22] jbavari commented on #49
Cool - sounds good. Right now if you click the 'x' on the app, it will remove it from local storage.

If you think of it, please fill me in. Might be a nice way to reset the users application state, though!

[2015-08-27 23:40] richkirsch commented on #54
No, exactly the same error. I'm feel like it must be ionic lab not knowing to access my (changed) npm global directory, but I don't know how to correct for this.

[2015-08-28 09:46] michaelboke commented on #50
Got the same problem here, any simple work around for this ?

[2015-09-08 19:57] sean-hill commented on #49
@jbavari !!! That's exactly it. I use local storage to store user data such as an auth token, and what steps they've completed in my app. It'd be handy to clear that via the Ionic Lab app, and not just in my browser.

[2015-09-10 19:24] jbavari opened #57 "[Windows] - Start screen drag and drop does not make the start screen go away"
Only on windows, when you drag and drop an ionic app, the start screen does not go away.

Instead it stays up, adds the app to the app listing on the side, and continues to show the initial ionic lab start screen.

[2015-09-10 20:25] zeronil opened #58 "$http Call Doesn't Work in Ionic Lab"
I have a log-in page and when I enter the credentials I'm getting an error when I run the app in ionic Lab. However, this code functions correctly when running in Chrome, in an emulator or on a device: only when it runs in Ionic Lab does it fail.

I don't see a way to debug an app in Ionic Lab so I can't tell exactly what's going on (console logging doesn't seem to work correctly either in Ionic L

[2015-09-11 03:44] fmsouza commented on #43
I have the same issue on OSX 10.10.5

[2015-09-16 22:55] nicon-dev commented on #54
+1
same error here. I did `npm install -g ios-sim` but it still shows the same error message.

`ios-sim --version
5.0.1`
When I run `ionic emulate ios` the ios emulator shows up and it works.

And one other thing: I have ios & android platform installed. When I click "emulate" should it start both emulators? Would be good to select ether ios/android to start/emulate.

[code]

[2015-09-16 23:13] digitaldrummerj opened #59 "On Windows Application does not work behind a proxy server"
I am behind a proxy server the Ionic Lab thinks I am offline even though I have my environment variables set for http_proxy and https_proxy and the npm/git proxy settings as well.

I am not able to run commands such as install android or build android.  These commands work just fine from the Ionic CLI so I know that my machine is setup correctly.

[2015-09-16 23:25] grub-basket opened #60 "Windows - Fails to install Android Platform."

[2015-09-17 02:42] leuowang opened #61 ""ionic serve" doesn't work correctly when I switch between two apps (Windows version)"
Ionic Lab works perfectly when I click serve to run the first app. But when I stop serve the first app, open the second one and click Serve to run it, the first app is still running. It seems that "stop serve" doesn't kill the previous process successfully.
I am using Windows version.

[2015-09-17 02:55] csantanapr commented on #50
workaround I found today
sudo ln -s -f `which node` /usr/bin/node

serve works, but there are other problems with emulate/run using the wrong path for config.xml

[2015-09-17 03:01] arup-b opened #62 "Scrolling PlugIn Pane - on Windows"
Thanks a million for the Windows App. Its my loveliest Birthday gift from Ionic Team.

While I opened a project on IonicLab and reviewed the 'PLUGINS' pane - the pane could not be scrolled to see what are there. The last Plugin I see is 'Whitelist'

![screenshot 2015-09-17 08 30 29](https://cloud.githubusercontent.com/assets/7669203/9923764/69c21ef6-5d16-11e5-897a-0a9da654a299.png)

Hope this to b

[2015-09-17 03:06] ghost opened #63 "Windows - Preferences: switch to Account unchecks General preferences"
Hi,

Before all, thanks for the WIndows release! It seems promising.

Now, the issue. When I open the preferences in the Windows version of Ionic Lab, check something in General tab, and switch to Account, everything in General is unchecked. It seems to happen in both cases:
- I switch to Account, close and reopen (defaults to General - everything unchecked)
- I switch to Account and switch back t

[2015-09-17 04:48] eladhayun opened #64 "Enable CORS"
Could be great to have the ability to enable CORS so that apps that uses a backend could be tested

[2015-09-17 05:06] arup-b commented on #64
There are browser plug-ins available to enable CORS .. have you tested with them ?

[2015-09-17 05:16] eladhayun commented on #64
To debug inside the browser ? Sure...
But how can I achieve that inside Ionic Lab?

Sent from my iPhone

[2015-09-17 05:54] Macpire commented on #62
Same issue on OSX

[2015-09-17 05:59] arup-b commented on #62
I hope that would be fixed soon.

[2015-09-17 09:04] guglielmino commented on #62
+1 (OS X)

[2015-09-17 13:47] khhodges opened #65 "Online condition not detected"
Designer pain not working

[2015-09-17 15:38] andrewmcgivery opened #66 "Windows, First Launch, "You seem to be offline""
Launched for the first time and it is detecting me as offline even though my internet works fine. :P

Checked the log file and it is blank thus far since it is my very first launch. No projects created yet.

Windows 7. I am behind a corporate firewall.

Ionic Lab Version 1.0.0-beta.2

![offline](https://cloud.githubusercontent.com/assets/4482878/9937754/0e4e9fbc-5d30-11e5-880f-88ec37170dd0.PNG)

[2015-09-17 15:39] brandyscarney opened #67 "Preferences get cut off when window is smaller"
Need to add `item-text-wrap` ;) to see the entire preference. Using Mac version but it should affect all.

![screen shot 2015-09-17 at 11 37 14 am](https://cloud.githubusercontent.com/assets/6577830/9937887/ac496152-5d30-11e5-8f69-dbae2868b190.png)

[2015-09-17 15:40] andrewmcgivery opened #68 "Windows, "Attempting login""
Less of an issue and more of just odd behavior. I logged in via the preferences window successfully and the "Attempting login" bar at the bottom of the window never disappears or changes text.

In my opinion, it would make more sense for that bar to disappear or change the message after the logic is successful.

Windows 7, Ionic Lab Version 1.0.0-beta.2

![overlay](https://cloud.githubusercontent.

[2015-09-17 15:48] andrewmcgivery opened #69 "Windows, smaller window disappearing buttons"
As the window starts to get smaller, buttons start to disappear.

At the top right of this screenshot, there is a button missing next to the settings gear.

Windows 7
Ionic Lab Version 1.0.0-beta.2

![disappearing](https://cloud.githubusercontent.com/assets/4482878/9938135/ef0426a2-5d31-11e5-80a8-cef9cced485a.PNG)

[2015-09-17 16:18] thiru2109 opened #70 "Windows - Bottom tabs are hidden"
I was not able to view the bottom tabs ,also not able to scroll the ionic lab content area to view the full app.

[2015-09-17 17:18] jbavari commented on #69
Yep, very much in the works. Yay beta.

Thanks for the feedback, we're on it now.

[2015-09-17 17:19] jbavari commented on #68
On it. Thanks for reporting.

[2015-09-17 17:20] jbavari commented on #64
Are you talking about CORS when you're using serve? Or in your application on the simulator/device?

[2015-09-17 17:33] andrewmcgivery opened #71 "Windows, Long app name"
I'm not sure words are required here. LOL

Beta 2, Windows 7

![aaaaaaaaaaaaaa](https://cloud.githubusercontent.com/assets/4482878/9940957/a1caf37a-5d40-11e5-8833-87b4ec1c90f4.png)

EDIT: Not even sure if this counts as an issue. I may be the only one dumb enough to try this.

[2015-09-17 17:33] eladhayun commented on #64
I'm talking about CORS when I use Ionic Lab application not ionic serve --lab

Sent from my iPhone

[2015-09-17 17:49] jbavari commented on #60
Could you provide any more feedback? Any error logs from the console or steps you did to produce the problem?

Perhaps even providing what Android SDK you have?

[2015-09-17 17:49] jbavari commented on #59
We're on it now. Thanks for reporting.

[2015-09-17 18:26] grub-basket commented on #60
I'm not receiving anything in particular, other than the message that's
displayed at the bottom at says "install failed" (with no particular ID)
when I click on the button that says install/add Android in the console.

I probably have an outdated one, and assumed that it would install it for
me.

Also, is iOS development (still) limited to OSX?

Thank you.

[2015-09-18 16:44] cwoolum opened #72 "Dragging app onto screen does not remove welcome overlay"
After dragging a project onto the app, I would expect the overlay to go away so I can work with the project. Overlay remains though and you have to x out of it.

![image](https://cloud.githubusercontent.com/assets/942415/9965235/b785ba34-5de9-11e5-8f0d-c97145e21fc9.png)

[2015-09-19 06:45] tiandao-dongguan opened #73 "error installing android platform"
ionic project can create success,but can‘t install anroid platform.
and install  anroid platform success from windows cmd,why?

[2015-09-21 19:09] Coleottero commented on #62
+1 Windows 8.1

[2015-09-21 20:14] brettcorey commented on #54
Same issue.

Cordova CLI: 5.3.1
Gulp version:  CLI version 3.9.0
Gulp local:
Ionic Version: 1.1.0
Ionic CLI Version: 1.6.4
Ionic App Lib Version: 0.3.8
ios-deploy version: 1.7.0
ios-sim version: 5.0.1
OS: Mac OS X Yosemite
Node Version: v0.12.4
Xcode version: Xcode 7.0 Build version 7A220

[2015-09-27 22:19] stgnet opened #74 "lab would be much more useful if it included an ide"
I loaded it just to see what it could do, and was honestly surprised I could not find a way to edit the application files.

[2015-09-29 05:01] MahapalaMultimedia commented on #73
yeah,, same here... why??

[2015-09-29 05:02] MahapalaMultimedia opened #75 "error installing android platform"
It is happen all the time: error installing android platform

[2015-10-02 09:10] ray86 opened #76 "ionic lab always showing offline"
ionic lab always showing offline even though am connected to the internet, creating a new app keeps loading forever  and i keep gettting this error:
fail to opensync Error: ENOENT: no such file or directory, open 'C:\Users\SMARTKON1\AppData\Local\Temp;c:\ffmpeg\bin\ionic-lab-logfile.log'
    at Error (native)
    at Object.fs.openSync (fs.js:549:18)
    at Object.module.(anonymous function) [as op

[2015-10-03 19:16] lucasyvas commented on #53
Indeed. It also doesn't remember to keep you logged in. I'm using Windows. It seems a little rushed.

[2015-10-06 09:39] rintuzi123 opened #77 "Project not getting removed"
1. I created an app using Ionic Lab for Windows, then deleted the project files from file explorer, and trying to remove the app name from the list of projects in Ionic Lab, but it's not getting removed i.e when I remove the app and re-open Ionic Lab, the app still present in list.
2. It's listing only one app on start-up, I need to add other apps manually.

[2015-10-07 07:48] mussrya commented on #54
I have the same issue on mine, it seems like others have said it looks like that it's referencing a different directory. I modified the ionic application on mine as follows to fix the issue:
Right click on Ionic Lab.app and click show package contents
Contents > Resources > app > js > nodeservice.js

Changing this line:

[code]

to:

[code]

This resolved it for me as a temporary solution at least

[2015-10-12 07:29] gynekolog commented on #42
Same problem.
"Run Android" from top bar is working.

[2015-10-17 16:55] ufhy commented on #76
same to me

[2015-10-19 11:25] fritek373 commented on #75
Same here... :-1:

[2015-10-19 20:50] chriswitko commented on #58
+1

[2015-10-19 20:52] chriswitko commented on #44
+1

[2015-10-21 14:20] PBartrina opened #78 "Windows - Platform components' style support"
It would be nice if, as announced on the web, the app showed the "look & feel" of every platform.
I am thinking about the Select component, although there are more than one.

[2015-10-23 11:14] shivasurya commented on #46
Any update in plugin ! ? search

[2015-10-29 14:26] tofanelli commented on #55
yeah... same here in latest version....

[2015-10-30 10:10] Shinobi881 commented on #77
+1
- Same issue in OSX
  - Deleted project, made changes and loaded it again. Reverted project to previous state.
  - It's cacheing projects or something

[2015-11-03 14:55] Gh0st971 commented on #73
same problem for me.

[2015-11-03 15:01] cm-polin commented on #75
you must install node.js for it to work.

[2015-11-10 14:08] DrSensor commented on #76
same here. and i'm using Linux

[2015-11-10 14:09] jxxyxb commented on #76
me too

[2015-11-10 14:11] jxxyxb opened #79 "build error"
Command finished with error code 0: D:\Java\Androids\nodejs\node.exe R:\etc\meApp\hooks\after_prepare\010_add_platform_class.js,R:\etc\meApp
Running command: cmd "/s /c "R:\etc\meApp\platforms\android\cordova\build.bat""
Command finished with error code ENOENT: cmd /s /c "R:\etc\meApp\platforms\android\cordova\build.bat"
ERROR building one of the platforms: Error: cmd: Command failed with exit cod

[2015-11-10 14:25] jxxyxb commented on #79
R:\etc\meApp\hooks\after_prepare\010_add_platform_class.js,R:\etc\meApp
==>                                                                                            |
R:\etc\meApp\hooks\after_prepare\010_add_platform_class.js R:\etc\meApp
?????

[2015-11-15 19:37] alexeyrv commented on #77
Hi. Same problem. Can not delete projects.
Try delete projects were deleted from hdd.
After restart see them again.

Uninstall Ionic Lab. Install Ionic Lab. See same dummy projects.
Thx, team for solving the issue.

[2015-11-15 19:49] alexeyrv commented on #73
Same problem.
Ionic Lab starts with administrator rights.
Status for "Platform Android" is green color "Installed".
Emulate or Run failed.

Thanks for help in advance.
Logs below:

No version supplied. Retrieving version from config.xml...
Adding android project...
Running command: cmd "/s /c "C:\Users\Admin.cordova\lib\npm_cache\cordova-android\4.0.2\package\bin\create.bat --cli D:\Development\Pr

[2015-11-15 19:51] alexeyrv commented on #73
BTW: Run makes issue with message:
"Error: cmd: Command failed with exit code 2 Error output: ERROR: Error: ANDROID_HOME is not set and "android" command not in your PATH. You must fulfill at least one of these conditions."

It seems like Android "Installed" status - fake.
Is there some documetation how manually install and Ionic Lab can use it?

Alex

[2015-11-17 12:19] Gh0st971 commented on #73
i resolved installing node.js

[2015-11-21 05:59] hgillh commented on #55
I am facing exactly same issue on my Mac (10.11.1).
Have you found any solution @peetwright  ?

[2015-11-23 12:46] etype2 opened #80 "error downloading ionic for windows"
i die trying to use ionic for my project ........but i failed .........because its cli tool is very bad............finally i try ionic lab..........but it uable to download because timeout:443..........its my last try........otherwise next framework,,,,,,,,,,,,,,,,

[2015-11-30 15:52] yahyaKacem opened #81 "Add the possibility to set node path"
First thanks for you efforts.
I'm using nvm to install node so to solve the #50 problem, I think it's better to give to the user the ability to set node path manually.

[2015-12-01 08:19] marcinwalus opened #82 "Name of an application in APPS panel"
Hi.
Where does the name of an application displayed in APPS pane comes from?I have two apps in two different folders but the name of an app is always the same
![ionic_lab_and_macintosh_hd_users_marcin_projects_forp](https://cloud.githubusercontent.com/assets/1926917/11495508/0606f8f6-980c-11e5-9644-17c99523d8f0.png)
I dragged two apps to APPS pane and they are added with the same name and I don't

[2015-12-06 15:50] aarondub84 opened #83 "OS Yosemite, App shows blank screen when server is on"
I have been using ionic lab to view the changes I have made to my app. It was working for a few days. All of the sudden, the view area is blank in ionic lab. Other apps are working. I even reverted everything back and it still won't show. I installed ionic lab on a new computer and opened my original files in lab, and still shows a blank view area. I can't figure out why lab stopped working for th

[2015-12-08 09:35] ericaig commented on #83
I'm having exactly the same problem.

[2015-12-10 17:59] acmbc68 commented on #73
Not here - have node.js (i.e. can run node straight from windows cmd line) and still cant install Android - anyone have any clue as to why or where there may be some kind of log file so we can at least try to figure out WHY it can't install the android platform?

[2015-12-11 14:03] yuricamara opened #84 "Windows 10, App shows blank screen when server is on"
Problem similar to #83 but with Windows 10.

**A problem, maybe, related to:**
When I run the preview with 'serve' command in the console, the app opens normally in Chrome. It uses the server port 8101 unlike Ionic Lab, which uses the 8100.
I changed the server port in Ionic Lab app settings to 8101 but the change didn't make any effect. It kept using port 8100.
I even don't know if it is a server

[2015-12-11 14:11] yuricamara opened #85 "App doesn't save preferences"
Every time that I open Ionic Lab I have to log in Ionic again and config my general preferences in Ionic Lab/Preferences menu.
Windows 10.

[2015-12-24 02:43] andredaniel opened #86 "How can I change localhost to IP address?"
In terminal I can select localhost or IP but on Ionic Lab I can't.

[2015-12-28 17:47] ryanmaclean commented on #7
### "Error Installing Android Platform"

Can report that this is back - brand new install of Ionic Lab on Windows 10, running either as normal user or as administrator. It appears that Ionic lab is looking for node, which is fine - maybe pop up an error stating that it's required on failure?

Scrubbed log from ctl+alt+i:

[code]

[2015-12-30 19:11] Ionitron commented on #72
Greetings @cwoolum!

I've closed this issue because my sensors indicated it was old and inactive, and may have already been fixed in recent versions of Ionic. However, if you are still experiencing this issue, please feel free to reopen this issue by creating a new one, and include any examples and other necessary information, so that we can look into it further.

Thank you for allowing me to assi

[2015-12-30 19:11] #72 closed, assigned to nobody

[2015-12-30 19:11] Ionitron commented on #74
Greetings @stgnet!

I've closed this issue because my sensors indicated it was old and inactive, and may have already been fixed in recent versions of Ionic. However, if you are still experiencing this issue, please feel free to reopen this issue by creating a new one, and include any examples and other necessary information, so that we can look into it further.

Thank you for allowing me to assis

[2015-12-30 19:11] #74 closed, assigned to nobody

[2015-12-30 19:11] Ionitron commented on #56
Greetings @danielmilner!

I've closed this issue because my sensors indicated it was old and inactive, and may have already been fixed in recent versions of Ionic. However, if you are still experiencing this issue, please feel free to reopen this issue by creating a new one, and include any examples and other necessary information, so that we can look into it further.

Thank you for allowing me to

[2015-12-30 19:11] #56 closed, assigned to nobody

[2015-12-30 19:11] #50 closed, assigned to nobody

[2015-12-30 19:11] Ionitron commented on #51
Greetings @gigocabrera!

I've closed this issue because my sensors indicated it was old and inactive, and may have already been fixed in recent versions of Ionic. However, if you are still experiencing this issue, please feel free to reopen this issue by creating a new one, and include any examples and other necessary information, so that we can look into it further.

Thank you for allowing me to

[2015-12-30 19:11] #51 closed, assigned to nobody

[2015-12-30 19:11] #39 closed, assigned to nobody

[2015-12-30 19:11] #40 closed, assigned to nobody

[2015-12-30 23:13] stgnet commented on #74
I just tried the current version, and there is no ability to edit within the application.  This is more of a feature request than a bug.  Built in editing ability would add IDE-like workflow that would be of benefit to developers not already set on using their own editor, and make ionic easier for newbies to understand.

[2015-12-30 23:16] stgnet opened #87 "Feature request: add editing capability (IDE)"
As it stands, without the ability to edit the application files in-app, the workflow is confusing and stilted.  It should be relatively simple to add some existing code editor module to provide this feature, which would improve usability, especially by newbies.

[2016-01-04 13:56] dileepmsse opened #88 "Application running in an network environment with proxy is not able to access internet"
Application running in an network environment with proxy is not able to access internet and there is no way to set preferences. May be its added in the later stage. Just to keep a note of it, adding here.
OS: Mac OSX. Configuration as below
![image](https://cloud.githubusercontent.com/assets/1918270/12090928/00a12a30-b319-11e5-92f8-33f0813cc371.png)

[2016-01-14 13:05] bleuscyther commented on #62
same issue

[2016-01-19 14:57] Ionitron commented on #78
Greetings @PBartrina!

I've closed this issue because my sensors indicated it was old and inactive, and may have already been fixed in recent versions of Ionic. However, if you are still experiencing this issue, please feel free to reopen this issue by creating a new one, and include any examples and other necessary information, so that we can look into it further.

Thank you for allowing me to as

[2016-01-19 14:57] #78 closed, assigned to nobody

[2016-01-23 16:09] Matt2012 commented on #73
+1

[2016-01-25 03:32] ghost opened #89 "The option "run" does not run on the device"
the option "run" does not run on the device, run the application on the emulator like the option "emulate"

[2016-01-29 05:18] jwuliger opened #90 "App Crashes & package.json Issue"
I just started using this app, has allot of potential!

I am running Windows 10 Enterprise using the latest tools.

**Problems**
1. When you first open the application and you see the default screen, dragging my ionic.project file into the app gives an error telling me that I do not have a package.json file in my directory when I do.
2. The app will crash like clockwork when you uses the context m

[2016-02-03 12:23] Moidul commented on #55
I had the same issue on Mac. I installed node.js to solve the problem.

[2016-02-08 06:03] codebysandeep opened #91 "Ionic Lab - You seem to be offline, so certain commands may not work right now."
After install Ionic app on window 7. All time I am getting following error:

**You seem to be offline, so certain commands may not work right now.**

[2016-02-08 12:20] codebysandeep opened #92 "Ionic Lab - Error loggin in: Error: connect ECONNREFUSED 104.20.7.16:443"
All time I am getting this error, if I am trying to login through Ionic Lab -> Preferences.
Can any one suggest why this is happening?

[2016-03-20 16:42] brunowego commented on #81
Will be nice if detect the `.nvmrc` file and run `nvm use`. :+1:

[2016-03-20 16:47] brunowego opened #93 "Ability to open the project using CLI"
Think about the possibility do access the directory of a project using a terminal and run a command to open Ionic Lab.

Perhaps something like this:

[code]

[2016-03-24 08:43] divanvisagie commented on #79
@jxxyxb did you ever solve this?

[2016-03-24 08:46] divanvisagie commented on #79
Also I think this is a duplicate of https://github.com/driftyco/ionic-lab-issues/issues/73

[2016-03-24 09:10] divanvisagie commented on #54
I did something similar:

  //process.env.PATH = process.env.PATH + ':/usr/local/bin';
  process.env.PATH = process.env.PATH + ':/Users/username/.nvm/versions/node/v4.2.2/bin/node';

Which solved my #73 which was actually related to #50

[2016-03-25 10:12] zxdeer commented on #91
Network problems, try switching network. Specific reasons not very clear.

[2016-03-30 18:28] Randore commented on #86
@andredaniel did you tried these options http://prntscr.com/am4h1e

[2016-04-01 00:48] willin commented on #91
same problem.  os x, network is ok.

[2016-04-01 00:52] willin commented on #60
Android:

[code]

[2016-04-01 00:53] willin commented on #60
IOS:

[code]

[2016-04-06 05:52] ogela opened #94 "Ionic Lab -- Crashes when closing x"

[2016-04-06 05:53] ogela opened #95 "Ionic Lab -- Preferences not saved"

[2016-04-09 18:25] ghost opened #96 "Deleted APPS appear again in "APPS explorer" after restarting ionic Lab"

[2016-04-17 12:29] kematzy opened #97 "Mac OS X.11.4 iOS install error => env: node: No such file or directory"
I just installed Ionic Lab (v0.29.1) and tried a number of projects, but all with the same result.

I'm getting the following error when clicking on the "Install" button for iOS or Android.

`No version supplied. Retrieving version from config.xml...
Adding ios project...
Running command: /Users/kematzy/.cordova/lib/npm_cache/cordova-ios/3.8.0/package/bin/create --cli /Users/kematzy/Downloads/MY-D

[2016-04-26 22:01] hansgill commented on #55
I have node installed (via NVM) and am still seeing this issue. node is on my path by default but somehow when I start Ionic Lab and try to install the IOS platform it is unable to find node for me. Any idea?

`No version supplied. Retrieving version from config.xml...
Adding ios project...
Running command: /Users/hansgill/.cordova/lib/npm_cache/cordova-ios/3.8.0/package/bin/create --cli /Users/ha

[2016-04-26 22:03] hansgill commented on #97
I have the same issue, and unable to figure out what it can be. Anyone?

[2016-05-06 18:47] nfons commented on #91
same problem. in network (obv) but ionic labs says i am not

[2016-05-22 09:28] tobeee commented on #83
Anyone fix this?

[2016-05-30 12:32] martinezbel commented on #73
same problem. even with node.js not possible to install android

[2016-06-03 13:32] imuhammadarsalan commented on #7
i am using ionic lab desktop version & i am getting the error.
No version supplied. Retrieving version from config.xml...
What is the problem ?

[2016-06-23 09:18] trinhvanhuy commented on #84
Hello,
I have same issue, any suggestion ?

[2016-07-07 15:43] ghost opened #98 "proxUrl doesn't seem to work on Ionic Lab, is there a workaround?"
I saw this article
http://blog.ionic.io/handling-cors-issues-in-ionic/ to get around CORS in Ionic.

The article says add

{
  "name": "proxy-example",
  "app_id": "",
  "proxies": [
    {
      "path": "/api",
      "proxyUrl": "http://cors.api.com/api"
    }
  ]
}

to ionic.project .

This logic seems to work well when i do ionic serve.
But it fails when on Ionic Lab... is there a workaround?

[2016-07-12 06:20] KaraKong commented on #73
ionic project can create success,but can‘t install anroid platform.
and install anroid platform success from windows cmd,why?

[2016-07-14 01:00] #86 closed, assigned to nobody

[2016-07-25 23:47] rojagit commented on #7
I just downloaded the Windows version today and I am getting this ridiculous error, Don't these guys even test their software before releasing it to public ?? How will we have confidence in anything they do at this rate ?

[2016-07-27 16:12] rojagit opened #99 "error installing android platform"
When we click on Run it says Android not installed and when we try installing Android it says "error installing android platform"
Happened on multiple Windows boxes.

[2016-07-27 23:00] rojagit commented on #7
I found the reason for this to be that labs depends on a clean CLI install, so go through whatever the CLI startup until cordova is, and then install android on an app works from the lab.

[2016-07-28 13:19] thepowderriverfarrier commented on #91
If you're trying this on Windoze make certain you have first run from the cli:

npm install -g ionic and npm install -g cordova

[2016-08-05 05:17] sree-kumar commented on #91
For me everything is fine, including internet connection. Still I am getting this error.

[2016-08-17 15:30] cnngraphics opened #100 "Ionic Lab is Not Serving New App"
I have several apps in Ionic Lab. When I stop server on one app and start server on another app, I still get the closed app served. Not expected behavior.

The issue only is sloved by deleted all apps and close the software and re-open the software and reload the wanted app.

So I am down to use only one app in Iionic Lab at a time

[2016-08-23 12:31] roshandhabekar commented on #75
Thanks its working now@polinspa

[2016-08-24 22:11] syncmonster commented on #99
you need to install node.js first

[2016-09-09 06:33] akpepr commented on #97
Install node.js. If you open the batch file create, you would see this line at the very beginning "#!/usr/bin/env node" which is basically looking for a node instance. Install it by using the command  "brew install node".

[2016-09-13 14:27] yuridolzhenko commented on #42
It's like a one year later and bug (the very easy one) is still there. That's kind of surprising, I will probably not consider Ionic for my app anymore.

[2016-09-14 07:36] chandan1982 opened #101 "onic Lab - You seem to be offline, so certain commands may not work right now"
Hi All,

I am new to this framework and hence any comments on this will be appreciated. I am getting onic Lab - You seem to be offline, so certain commands may not work right now error after installing ionic lab on my machine. Is this issue related to any netowork proxy? or is there any way to overcome this. Please suggest.

Regards,
chandan

[2016-10-02 17:12] byteknight13 opened #102 "(Menu) Apps > Start Server text does not change"
![image](https://cloud.githubusercontent.com/assets/7417446/19022250/c5dc3958-8888-11e6-8292-688a737cfa74.png)

Regardless of the state of the server.

[2016-10-14 12:57] rohitjaysankar commented on #7
I tried to install android on a project .It's not showing any error but its not getting installed.

[2016-10-29 16:58] thompsk opened #103 "fresh ionic lab install has errors after installing"
I didnt want to install the 14gb Visual Studio as you suggested (FFS-14GB!!!!!) - so installed ionic lab assuming it would do the work for me. However when I add a new app (side menu) then I get

Error Cmd command failed with exit code 2 ANDROID_HOME not set

Is there an weasy way to get started without 100's of GB of IDE's and quirky and unknown plugins in odd places. Can I just instal something

[2016-10-29 17:40] thompsk commented on #103
went back to the ionic lab page and it definitely says:

get awesome website up and running fast... and;

App creation as easy as 1,2,3 - actually just one click.

But there is no installation documentation for ionic lab (it pretends to do the setup for you) that could lead someone to understand that the android_home has not been set and some kind of indication or clue as to what to do next.

Or t

[2016-11-01 04:18] inetkid opened #104 "Not responding: Creating your ionic application"
I created new project and installed iOS platform. I click to edit the UI, the status bar says "Creating your ionic application MyApp" and nothing happen after few days it is still waiting. Reopen ionic lab repeat the steps still nothing happens.

[2016-11-09 16:54] #103 closed, assigned to nobody

[2016-11-09 16:54] thompsk commented on #103
no response

[2016-11-12 21:46] Fcmam5 opened #105 "Some menu items not working on Linux Ubuntu"
When clicking on some Menu items nothing happened examples:

- [Ionic Lab> About Ionic Lab] I get this error on my terminal where I launched the app
[code]
- [Window>Minimize] or Ctrl+M I get this
[code]
And all [Help] menu items (Tutorials, Documentation, Report an issue)

[2016-11-15 08:55] pritijha09 commented on #99
i install node.js bt same error again display.... how can solve this problem

[2016-11-15 21:47] thompsk opened #106 "install:create app:serve:stop:server:ERR_CONNECTION_REFUSED"
Im not sure whether this app is just not mature enough to be used or not...

So is this the accepted workflow ????

I install the application on Win7

1. I start up the app and resize the window as ionicLab does NOT remember the window size
2. I open the DevTools
3. I create a new app (side Menu)
4. I serve the app for testing
5. I stop serve
6. I serve the app again for testing and BLAM !!!
WebSo

[2016-11-15 21:49] thompsk commented on #91
I get it as well one out of 5 times I run ionicLab -

[2016-11-15 21:50] thompsk commented on #100
I think that might be working as designed

[2016-11-22 15:41] ZaidSameer commented on #91
The same problem here too.

[2016-12-04 17:47] Sutil commented on #77
Same proble @alexeyrv .

[2016-12-04 18:01] Sutil commented on #77
I solved this problem clearing the chrome cache.

[2017-01-05 14:11] johnnynode commented on #66
+1  same issue on windows , and we know that the lab is not maintained any longer :)

[2017-02-25 08:17] shahidkarimi commented on #84
I am still having this issue.

[2017-03-28 04:24] OmywishO commented on #73
![image](https://cloud.githubusercontent.com/assets/20390796/24389040/34359774-13b1-11e7-92ba-7774d6a006fd.png)
ionic project can create success and why install android so lang time? installing 9 hours

[2017-04-05 17:57] terrill021 commented on #73
i am getting the same error, how nows how to solve this?

[2017-04-06 03:44] MahapalaMultimedia commented on #73
make sure your enviromental variables is correct.

[2017-04-06 12:56] terrill021 commented on #73
I have founded the mistake, it was in the router providers states, i had someyhing like this:

.state('newTrip', {
		        url: '/newTrip',
		        templateUrl: "../views/newtrip.html",
		        controller: 'ctrlNewTrip'
})

I have changed to this;

.state('newTrip', {
		        url: '/newTrip',
		        templateUrl: "views/newtrip.html",
		        controller: 'ctrlNewTrip'
})

 that solved

[2017-07-11 21:27] #54 closed, assigned to nobody

[2017-08-24 10:43] 9696000558 opened #107 "Issue of Ionic-Lab"
The build section and the share section does not working .

[2018-01-26 12:48] JammiM opened #108 "Ionic lab : Ionic v1 : intercom plugin not displaying"
The intercom plugin is not displaying when I use "Ionic Lab", and I get no errors in the console.

https://github.com/intercom/intercom-cordova

**It works fine when I emulate the app on a android.**

    @ionic/cli-utils  : 1.19.1
    ionic (Ionic CLI) : 3.19.1

## global packages:

    cordova (Cordova CLI) : 8.0.0
    Gulp CLI              : CLI version 3.9.1 Local version 3.9.1

## local packa

[2018-03-30 08:54] neyamii opened #109 "ionic lab raise error"
Error: Node Sass does not yet support your current environment: Windows 64-bit with Unsupported runtime (57)
For more information on which environments are supported please see:
https://github.com/sass/node-sass/releases/tag/v4.5.0
    at module.exports (R:\z_test\f-ion\f-ion\f-ion\node_modules\node-sass\lib\binding.js:13:13)
    at Object.<anonymous> (R:\z_test\f-ion\f-ion\f-ion\node_modules\node

[2018-03-30 08:55] neyamii commented on #109
windows 10
ionic 3.20
node 8.10
npm 5.8

[2018-06-19 11:56] wodka opened #110 "ionicons are loaded over http"
I'm serving ionic-lab through an https proxy to show a temporary build of an app.

The only broken thing are icons in the UI since the ionicons css file is loaded through http://.

![screen shot 2018-06-19 at 13 53 21](https://user-images.githubusercontent.com/385731/41595724-2b3824fc-73c8-11e8-98da-710108ecceb4.png)

[code]

[2018-06-19 12:04] wodka commented on #100
Simple solution:

`ionic serve --lab --port 80101 --livereload-port 35730`

this will start the lab on a different than the default port (+1)

[2018-09-25 16:25] #67 closed, assigned to nobody

[2018-11-05 06:08] siva563 opened #111 "ionic lab issue in mac OS"
I was just tried `ionic serve -l ` but command line is everything is fine but in `Safari browser` is not loading anything in the `Mac OS `for `iPhone`.

once I was opened in full screen it is opened new tab.

Could you please suggest how we can solve the problem.

Thanks advance !!!

[2019-06-18 11:46] #81 closed, assigned to nobody

[2020-06-26 09:36] bawasaab opened #112 "ionic lab issue on linux mint 19.3 cinnamon 64 bit"
Ionic Lab is starting up...

[17565:0626/150330:INFO:renderer_main.cc(200)] Renderer process started
[17540:0626/150332:INFO:CONSOLE(13241)] "Uncaught SyntaxError: /home/deepak/node_modules/open/index.js:2
const {promisify} = require('util');
      ^
Unexpected token {", source: file:///home/deepak/ionic-lab/resources/app.asar/lib/ionic/release/js/ionic.bundle.js (13241)

[2020-06-26 09:37] bawasaab commented on #112
am not able to start the app. When I try to start, it always ended up with the same output.

[2020-08-17 11:39] #82 closed, assigned to nobody